@navbar-min-height: 70px;
.navbar.navbar-static-top {
  margin-bottom: 0;
  min-height: @navbar-min-height;
  border: none;
  border-bottom: 2px solid @rackspace-white;

  .navbar-header .navbar-brand {
    text-transform: uppercase;
    color: white;
    line-height: @grid-gutter-width / 2;
    font-size: 0.9em;
    font-weight: 600;
    width: 243px;
    height: 30px;
    padding: 0;
    margin-top: 15px;
  }

  .navbar-header {
    @media (max-width: @grid-float-breakpoint) {
      margin-left: 0;
    }
  }

  &.navbar-inverse {
    background-color: @rackspace-gray;

    .navbar-nav > li > a {
      color: @rackspace-white;
      font-size: 12px;
      line-height: 30px;
      font-weight: 600;
    }
  }

  ul > li > a#btn-get-started {
    font-weight: 600;
    font-size: 12px;
    color: @rackspace-light-blue;
    margin: (@grid-gutter-width / 2) 0;

    .fa-arrow-right {
      margin-left: 2px;
    }

    &:hover {
      background-color: darken(@rackspace-white, 5%);
    }
  }
}



.navbar-nav {
  > li > .dropdown-menu {
    margin-top: -1 * (@grid-gutter-width / 2);
  }
  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    > li {
      > a {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: @grid-gutter-width / 2;
        margin-bottom: @grid-gutter-width / 2;
      }
    }
  }
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
  background-color: @rackspace-dark-gray;
}

.navbar-toggle {
  padding: 5px 6px;
}
