---
layout: default
title: Rackspace Developer Center
---
    <div class="hero-slider">
        <ul class="slides">
            <li class="hero-sdks">
                <div class="bg">
                    <div class="inner clearfix">
                        <span class="headline">SDKs &amp; Tools</span>
                        <span class="descriptive">Our open source and fully supported developer tools help you get started using any OpenStack cloud in minutes.</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="bodyitem shieldboxes sixup">
        <ul class="shields clearfix">
          {% for sdk_hash in site.data.sdks %}
            {% assign sdk_name = sdk_hash[0] %}
            {% assign sdk = sdk_hash[1] %}
            <li class="{{ sdk['programming_language'] }}">
                <a href="#{{ sdk['programming_language'] }}">
                    <span class="title">{{ sdk['programming_language'] }}</span>
                </a>
            </li>
          {% endfor %}
    </div>

    {% for sdk_hash in site.data.sdks %}
      {% assign sdk_name = sdk_hash[0] %}
      {% assign sdk = sdk_hash[1] %}
    <a name="{{ sdk['programming_language'] }}"></a>

    <div class="bodyitem sdktable">
      <div class="lang clearfix">
        <div class="col">
          <h2>{{ sdk['programming_language'] }}</h2>
          <a href="{{ sdk['download_page'] }}" class="cta">Get the SDK</a>
        </div>
        <div class="col">
          <span class="colheader">Supported SDK</span>
          <p><a href="{{ sdk['homepage'] }}">{{ sdk_name }}</a></p>
        </div>
        <div class="col">
          <span class="colheader">Docs and Resources</span>
          <p><a href="#">Getting Started Guide</a></p>
          <p><a href="#">API Reference Manual</a></p>
          <p><a href="#">SDK Release Notes</a></p>
          <p><a href="#">Examples</a></p>
        </div>
        <div class="col">
          <span class="colheader">Community Links</span>
          <p>IRC: <a href="#">#rackspace</a> on irc.freenode.net</p>
          <p>Got Questions?<a href="{{ sdk['mailing_list'] }}"> {{ sdk['mailing_list'] }}</a></p>
          <p>Report Issues on <a href="{{ sdk['bug_database'] }}">Github</a></p>
        </div>
      </div>
    </div>
    {% endfor %}

	{% include looking_for_more.html %}













