# This is the Jekyll configuration template that's used for production and staging. It's used by
# jenkins_push.yml before the site build is performed.
#
# {{ ansible_managed }}

name: Rackspace Developer Portal
url: https://developer.rackspace.com

markdown: redcarpet
redcarpet:
  extensions: [ "tables" ]
highlighter: pygments
paginate: 10
relative_permalinks: true
permalink: /blog/:title
paginate_path: /blog/page:num
recent_posts: 5
excerpt_separator: "<!-- more -->"
subscribe_rss: /atom.xml

# Disqus config
disqus_short_name: devopsrackspace
disqus_show_comment_count: false

# jekyll-assets plugin configuration.
assets:
  sources:
  - _assets/img
  - _assets/js
  - _assets/css
{% if compress_assets %}
  js_compressor: uglifier
  css_compressor: yui
{% else %}
  js_compressor: ~
  css_compressor: ~
{% end %}
  gzip: false
{% if container_url is defined %}
  baseurl: {{ container_url }}
{% end %}
